
<style>
<style>
body, html {
    height:  80%;
}

.parallax {
    /* The image used */
    background-image: url('Img/History.jpg');

    /* Full height */
    height: 85%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
</style>
