h1 {color: #4d0026}
h2 {color: #ffb3d9}

#nav	{
	border: 3px dotted maroon;
		margin: 10px 5px 15px 20px 
}

#nav a {
	text-decoration: none;
	color: #b3b3ff;
}

.penjelasan {
	font-family: comic ;
	font-variant: small-caps;
}