.parallax{
    /* set a sprcific heigh */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

    .display-2 {font-family: 'Quicksand', sans-serif;
font-size: 60px}

    
.body   
{   background-color: #e6f2ff;}

    p {
    margin-right: 60px;
    margin-left: 60px;
    font-size: 16px;
font-family: 'Raleway', sans-serif}

    h2 {
    font-size: 50px;
    font-family: 'Quicksand', sans-serif;
    }

    h3 {
    font-size: 40px;
    margin-left: 60px;
    font-family: 'Quicksand', sans-serif;
    }

    h4 {
    font-size: 40px;
    margin-left: 60px;
    font-family: 'Quicksand', sans-serif;
    }

    h6 {
    font-size: 40px;
    margin-left: 60px;
    font-family: 'Quicksand', sans-serif;
    }

    body, html {
    height: 80%;
}

   .footer{
    font-size:12px;
    background: #cce6ff; 
    height: 100px;
    font-family: Satisfy; 
    font-size: 15px ;
}

