.list_carousel.responsive {	
	margin-left: 0;
	width: 91%;
}
.list_carousel ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
}
.list_carousel li {
	text-align: center;		
	padding: 0;
	display: block;
	float: left;
	position: relative;
}	
.list_carousel li img{
	width: 100%;
	height: auto;
}
a.prev{background-image: url(../images/navigation_arrows_left.png); width: 50px; height: 50px; z-index: 2;}
a.prev:hover{background-position: 0 -50px;}
a.next{background-image: url(../images/navigation_arrows_right.png); width: 50px; height: 50px; z-index: 2;}
a.next:hover{background-position: 0 -50px;}
.carousel_pagination {margin-top: 70px;}
.carousel_pagination a {margin: 0 0 0 5px; float: left;}
.carousel_pagination a:first-child {margin: 0;}
.carousel_pagination a {width: 50px; height: 50px; display: block; background: url(../images/bg_control_nav.png) no-repeat 0 0; background-position: 0 -50px; cursor: pointer; text-indent: -9999px;}
.carousel_pagination a:hover {background-position: 0 0;}
.carousel_pagination a.selected {background-position: 0 0; cursor: default;}
.caroufredsel_wrapper{z-index: 1 !important;}