body
{
	color: #76665e;
}
::selection
{
	background-color:#e7ddd8;
}
::-moz-selection
{
	background-color:#e7ddd8;
}
.doc-loader td 
{
	background-color: #ffffff;
}
.home
{
	background-color: #464646;
}
.shadow
{
	background-color: #4c403d;
}
blockquote
{
	color: #BBB3B1;
	
}
div.services, div.featured_work, div.portfolio, div.blog, div.about, div.pricing, div.skills, div.contact, div.single, div.external
{
	background-color: white;
}
ul.slides
{
	color: #FFFFFF;	
	border-color: #CCC1BD;
}
div.main-menu
{
	background-color: rgb(197, 47, 48);
}
div.main-menu nav ul li.active, div.main-menu nav ul li:hover 
{
	background-color: rgb(165, 40, 40);	
}
div.main-menu nav a
{
	color: #FFFFFF;
}
div.section h2
{
	color: #3f3532;
}
section h4
{
	color: #3f3532;
}
div.services section p a
{
	color: #00cccc;
}
ul.read-more.service-read-more li a, ul.read-more.pricing-read-more li a
{
	color: #C52F30;	
}
.home-title, .title-description
{
	color: white;
}
div.book-left
{
	background-color: #dad1cc;	
}
div.book-right
{
	background-color: #e7ded9;
}
div.book-title
{
	color: #3f3532;	
}
p.featured-work-section-title, p.portfolio-section-title, p.blog-section-title a, 
p.about-section-title, p.skill-section-title, p.contact-section-title
{
	color: #3f3532;
}
p.blog-section-title a:hover
{
	color: #786a65;
}
p.portfolio-section-title-right
{
	color: #9a8980;
}
.featured_work_item_text
{
	color: #ffffff;
}
.work_item_text
{
	color: white;	
}
#filter li
{
	color: #76665e;
}
#filter li.current
{
	border-color: #C52F30;
}
.team
{
	border-color: #e6dfdb;
}
.white-border
{
	border-color: white;
}
.team-item-holder h4
{
	color: #3f3532;
}
.pricing-table-small-content-holder
{
	background-color: #EBE2D9;
}
.pricing-table-small-title
{
	color: #3f3532;
}
.pricing-table-small-price
{
	background-color: #B4ACA1;
	color: white;
}
.pricin-table-small-sign-up:hover
{
	background-color: #504b44;
}
.pricin-table-small-sign-up 
{
	background-color: #69625A;	
}
a.sign-up-link
{
	color: white;
}
.pricing-table-big-content-holder
{
	background-color: #83746D;
}
.pricing-table-big-title
{
	color: white;
}
ul.pricing-table-big-content
{
	color: white;
}
ul.pricing-table-big-content li
{
	color: white;
}
.pricing-table-big-price
{
	background-color: #38302D;
	color: white;
}
.pricin-table-big-sign-up
{
	background-color: #C52F30;	
}
.pricin-table-big-sign-up:hover
{
	background-color: #9e2728;	
}
.progress_bar_field_holder
{
	background-color: #E5DED8;
}
.progress_bar_title
{
	color: white;
}
.progress_bar_field_perecent
{
	background-color: #C52F30;
}
.single-title h3
{
	color: #3f3532;
}
ul.tweets-content li a
{
	color: #76665e;	
}
ul#contact-form li #name, ul#contact-form li #contact-email, ul#contact-form li #website, ul#contact-form li #message
{
	background-color:#F5F1EC;
	color: #76665e;
}
footer
{
	background-color: #F5F1EC;
	color: #999999;
}
.footer-text
{
	color: #76665e;
}
a.button.black 
{	
	background-color: #3f3532;		
}
a.button.red
{
background-color: #C52F30;
}
a.button.gray
{
background-color: #dad1cc;
}
a.button.black:hover 
{
	background-color: #524642;
}
a.button.red:hover 
{
	background-color: #524642;
}
a.button.gray:hover 
{
	background-color: #524642;
}	
a.button-border.white
{
	color: white;
	border-color: white;
}
a.button-border.white:hover
{
	color: #ddd5cc;
	border-color: #ddd5cc;
}