@media screen and (max-width: 1030px) {

.home-title
{
	font-size: 45px;
	line-height: 61px;
}

.home-title-holder
{
	max-width: 800px;
}

}

@media screen and (max-width: 1018px) {
	
div.content-960
{ 
	width: 800px;
}
.background-fixed
{
	background-attachment: scroll;
}
footer, .section
{
	position: static !important;
	z-index: 0 !important;
}
.section, .single.section, .external.section
{
	margin-bottom: 0 !important;
}
.section:last-of-type
{
	margin-bottom: 0 !important;
}
.pricing-table-small
{
	width: 230px;
}
.pricing-table-big
{
	width: 340px;
}

ul#contact-form li #name, ul#contact-form li #contact-email, ul#contact-form li #website
{
	width: 358px;
}

ul#contact-form li #message
{
	width: 357px;
}

.book-content {
	max-width: 320px;
}

div.book-title {    
    max-width: 320px;
}

.twitter_separator
{
	background-image: url("../images/separators/separator_twitter_800x50px.png");	
}

.featured_work_separator
{
	background-image: url("../images/separators/separator_featured_work_800x50px.png");
}

.portfolio_separator
{
	background-image: url("../images/separators/separator_portfolio_800x50px.png");	
}

.blog_separator
{
	background-image: url("../images/separators/separator_blog_800x50px.png");	
}

.blank_separator
{
	background-image: url("../images/separators/separator_blank_800x50px.png");	
}

.about_separator
{
	background-image: url("../images/separators/separator_about_800x50px.png");	
}

.pricing_separator
{
	background-image: url("../images/separators/separator_pricing_800x50px.png");	
}

.skills_separator
{
	background-image: url("../images/separators/separator_skills_800x50px.png");	
}

.contact_separator
{
	background-image: url("../images/separators/separator_contact_800x50px.png");	
}

}


@media screen and (max-width: 840px) {
	
div.content-960
{ 
	width: 400px;
}
#main-menu-sticky-wrapper
{
	height: auto !important;
}
.one_half, .one_third, .one_fourth, .two_third, .three_fourth {
	width: 100%;
	float: none;
	margin-right: 0;
	margin-left: 0;
	text-align: center;
}

.home-title
{	
	font-size: 38px;
	line-height: 42px;
}

.pricing-table-big, .pricing-table-small
{
	margin-top: 65px;
}

.pricing-table-small.left, .pricing-table-big.left 
{
	float:none;
	width: 100%;
}

ul#contact-form li.last-child
{
	text-align: center;
}

ul#contact-form li #send-message
{
	margin-right: 0;
	width: 100%;
	max-width: 312px;
}

.about-read-more
{
	text-align: left;
}

ul.slides
{
	font-size: 22px;
	line-height: 33px;
}

.book-content {
    font-size: 16px;
    line-height: 20px; 
	max-width: 250px;
}

div.book-title {
    font-size: 20px;
    line-height: 24px;
    max-width: 250px;
}

div.tweets
{
	height: 125px !important;
}

ul.tweets-content li
{
	height: 125px;
}

blockquote
{
	margin-left: 0;
}

.twitter_separator
{
	background-image: url("../images/separators/separator_twitter_400x50px.png");	
}

.featured_work_separator
{
	background-image: url("../images/separators/separator_featured_work_400x50px.png");
}

.portfolio_separator
{
	background-image: url("../images/separators/separator_portfolio_400x50px.png");	
}

.blog_separator
{
	background-image: url("../images/separators/separator_blog_400x50px.png");	
}

.blank_separator
{
	display: none;
}

.about_separator
{
	background-image: url("../images/separators/separator_about_400x50px.png");	
}

.pricing_separator
{
	background-image: url("../images/separators/separator_pricing_400x50px.png");	
}

.skills_separator
{
	background-image: url("../images/separators/separator_skills_400x50px.png");	
}

.contact_separator
{
	background-image: url("../images/separators/separator_contact_400x50px.png");	
}

}

@media screen and (max-width: 790px) {
	#main-menu nav
{
	width: 100%;
	padding-left: 0;
	padding-right: 0;
}
	
}

@media screen and (max-width: 423px) {

div.content-960
{ 
	width: 90%;
}

.home-title-holder
{
	margin-top: 30px;
}

.home-title
{
	font-size: 34px;
	line-height: 30px;
}

.title-button-holder
{
	margin-top: 20px;
}

a.button-border.big
{
	font-size: 14px;	
}

.small-menu-wrapper
{
	width: 85%;
}

div.list_carousel.responsive
{
	width: 72%;
}

div.book-left, div.book-right
{
	width: auto;
	padding: 25px 10px;
	text-align: center;
}

.book-content 
{
	float: none;
	margin: 25px 0 0;
	max-width: 100%;
}

div.book-title 
{
	float: none;
	margin: 0;
	max-width: 100%;
}

ul#contact-form li #name, ul#contact-form li #contact-email, ul#contact-form li #website
{
	width: 260px;
}

ul#contact-form li #message
{	
	width: 260px;
}

ul#contact-form li #send-message
{
	max-width: 210px;
}

ul.tweets-content li 
{
	line-height: 20px;
}
ul.tweets-content li a
{
	font-size: 18px;		
}

.twitter_separator
{
	background-image: url("../images/separators/separator_twitter_200x50px.png");	
}

.featured_work_separator
{
	background-image: url("../images/separators/separator_featured_work_200x50px.png");
}

.portfolio_separator
{
	background-image: url("../images/separators/separator_portfolio_200x50px.png");	
}

.blog_separator
{
	background-image: url("../images/separators/separator_blog_200x50px.png");	
}

.about_separator
{
	background-image: url("../images/separators/separator_about_200x50px.png");	
}

.pricing_separator
{
	background-image: url("../images/separators/separator_pricing_200x50px.png");	
}

.skills_separator
{
	background-image: url("../images/separators/separator_skills_200x50px.png");	
}

.contact_separator
{
	background-image: url("../images/separators/separator_contact_200x50px.png");	
}

}
